<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Index Page'">Index Page...</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header bg-primary text-light">
                    <h4 class="card-title" th:text="'This is an index page'">This is index page...</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width:50px">ID</th>
                                <th style="width:250px">Recipe</th>
                                <th style="width:100px">View</th>
                                <th style="width:100px">Update</th>
                                <th style="width:100px">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="recipe:${recipes}">
                                <!--/*@thymesVar id="recipe" type ="hr.scorpiusmobile.recipes.domain.Recipe"*/-->  <!--this should help IntelliJ to do autocomplete-->
                                <td th:text="${recipe.id}">1</td>
                                <td th:text="${recipe.description}">Sample recipe Pork</td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/delete'}">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>3</td>
                                <td>Sample recipe Chicken</td>
                                <td><a href="#">View</a></td>

                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Sample recipe Beef</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1./js/bootstrap.min.js}"></script>
</body>
</html>

